<!-- 底部 -->
<div class="row">
    <footer>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <dl>
                    <dt>合作伙伴</dt>
                    <dd>九州大药房</dd>
                    <dd>中美大都会人寿</dd>
                    <dd>新会健康管理</dd>
                    <dd>中国工商银行</dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <dl>
                    <dt>联系我们</dt>
                    <dd>龙岩市新罗区东肖路101号创新大厦5层</dd>
                    <dd>电话：88-88-888 8888</dd>
                    <dd>邮编：888888</dd>
                    <dd>邮箱：jiayi@health.com</dd>

                </dl>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <dl>
                    <dt>关于网站</dt>
                    <dd>健康管理服务将使您获得以下益处：</dd>
                    <dd>1.建立健康预警及行动干预系统。</dd>
                    <dd>2.完善个人健康数据库，了解个人健康状况。</dd>
                    <dd>3.随时查阅自己健康资料、获得健康指导。</dd>
                </dl>
            </div>
        </div>
        
        <div class="row ft_bottom ">
            <div class="col-xs-12 col-sm-12 col-md-12">
                Copyright&copy; 2020-2030 嘉一健康集团 版权所有
                {{#if user}}
                <a href="/backStages">后台管理</a>
                {{/if}}
            </div>
        </div>
    </footer>

</div>